h1{
	font-size: 75px;
	padding-left: 300px;
	margin-bottom: 2px;

}

.people{
	padding-left: 300px;
	display: inline;
	font-size: 35px;

}

/*menu*/

.nav a{
	display: inline-block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover{
    color: gray;
}


.nav{
	padding-top: 10px;
    border-width:1px 0;
    list-style:none;
    padding-left:100px;
    text-align:center;
    display: inline;
}

.nav li{
    display:inline;
}

.nav li~li{
	border-left: 2px solid #000000;
}

/*menu*/

/*grid*/


/*grid*/

.people{
	height: 675px;
	width: 1422px;
	text-align: center;
}

#first{
	margin: 50px;
	height: 100px;
	width: 100px;
	-moz-transition: -moz-transform 0.5s ease-in;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	-o-transition: -o-transform 0.5s ease-in;
}